language: node_js
node_js:
  - 0.10

env: BROWSERS=firefox E2E_BROWSERS=firefox

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm start > /dev/null &
  - npm run update-webdriver
  - sleep 1 # give server time to start

script:
  - scripts/private/test-all.sh
