/* app css stylesheet */

a {
  color: blue;
}

.predicates {
  position: absolute;
  width: 9em;
  list-style: none;
  padding: 0;
  margin: 0;
}

.phones {
  margin-left: 11em;
  padding: 0;
  list-style: none;
}

.phones .thumb img {
  float: left;
  margin: -1.5em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.phones li {
  clear: both;
}
