html * {
    font-family: Arial;
}

body {
    padding: 40px;
    background-image: url("background.jpg");
    background-repeat: repeat;
    background-color: floralwhite;
}

h1 {
    border-bottom: 1px solid gray;
    margin-top: 0;
}

.navbar.navbar-fixed-top {
    border-bottom: 5px black solid;
}

.navbar.navbar-fixed-bottom {
    border-top: 5px black solid;
}

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.st-selected {
    background: #216eff !important;
    color: white !important;
}
