<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <div>
        <label for="search">Search:</label> 
        <input id="search" ng-model="$ctrl.query" ng-model-options="{ debounce: 300 }">
      </div>
      
      <div class="aria-status" aria-live="assertive" aria-atomic="true"></div>
            
      <div>
        <label for="order">Sort by:</label>
        <select inform-order id="order" ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </div>
      
      <div class="aria-status-sort" aria-live="assertive" aria-atomic="true"></div>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul result-list class="phones">
        <li ng-repeat="phone in filtered = ($ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp)"
            class="thumbnail phone-list-item">
          <a href="#!/phones/{{phone.id}}" class="thumb">
            <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" />
          </a>
          <a href="#!/phones/{{phone.id}}">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
