<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input [(ngModel)]="query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="phones">
        <li *ngFor="let phone of getPhones()" class="thumbnail phone-list-item">
          <a href="/#!/phones/{{phone.id}}" class="thumb">
          <img [src]="phone.imageUrl" [alt]="phone.name" />
        </a>
          <a href="/#!/phones/{{phone.id}}" class="name">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>