<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <label for="search">Search:</label> <input ng-model="query" aria-label="Search" id="search">
      <label for="order">Sort by:</label>
      <select id="order" ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>
      
      <div class="aria-status" role="status" aria-live="assertive"></div>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul result-list class="phones" id="phonesList">
        <li ng-repeat="phone in filtered = (phones | filter:query | orderBy:orderProp)"
            class="thumbnail phone-listing">
          <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}"></a>
          <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
        </li>
      </ul>
      
      

    </div>
  </div>
</div>
