<ul class="predicates">
  <li>
    Sort by:
    <ul>
      <li><a href ng:click="orderProp = 'age'">Newest</a></li>
      <li><a href ng:click="orderProp = 'name'">Alphabetical</a></li>
    </ul>
  </li>
  <li>
    Search: <input type="text" name="query"/>
  </li>
</ul>

<ul class="phones">
  <li ng:repeat="phone in phones.$filter(query).$orderBy(orderProp)">
    <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
    <a href="#/phones/{{phone.id}}" class="thumb"><img ng:src="{{phone.imageUrl}}"/></a>
    <p>{{phone.snippet}}</p>
  </li>
</ul>
