<!doctype html>
<html lang="en" ng-app="phonecatApp">
  <head>
    <meta charset="utf-8">
    <title>Google Phone Gallery</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="app.css" />
    <script src="bower_components/angular/angular.js"></script>
    <script src="app.module.js"></script>
    <script src="phone-list/phone-list.module.js"></script>
    <script src="phone-list/phone-list.component.js"></script>
  </head>
  <body>
	<div class="container-fluid">
	  <div class="row">
		<div class="col-md-2">
		  <!--Sidebar content-->

		  Search: <input ng-model="$ctrl.query" />

		</div>
		<div class="col-md-10">
		  <!--Body content-->

		  <ul class="phones">
			<li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query">
			  <span>{{phone.name}}</span>
			  <p>{{phone.snippet}}</p>
			  </li>
		  </ul>
		<p>{{$ctrl.query}}</p>
		</div>
	  </div>
	</div>
 </body>
</html>